%h3 Inputs
= simple_form_for @category_compare, url: update_graph_path do |f|
  = f.input :annotation_type, collection: %w[BP KEGG MF CC], :input_html => { :maxlength => 4, :style => 'width: 80px' }
  = f.input :organism_type, collection: @organism_type_list
  = f.input :significance_value, placeholder: 'Must be between 0 and 1'
  <br />

  %legend Gene universe
  = f.simple_fields_for :all_possible_genes do |b|
    = b.input :text_gene_list
    = b.file_field :file_gene_list

  %legend 
    %span Differentially-expressed genes
  #tasks
    = f.simple_fields_for :diff_expressed_gene_list do |i|
      = render 'diff_expressed_gene_list_fields', :f => i
    .links
      = link_to_add_association raw('<i class="icon-plus"></i>'), f, :diff_expressed_gene_list, class: 'pull-right'

  %br
  = f.submit 'Run Category Compare', class: 'btn btn-primary btn-block' 
